{% comment %}
  This block displays customer reviews on your product pages, helping build trust and increase sales.
  Customers can see what others think about your products, including star ratings and written feedback.
{% endcomment %}

<script src="{{ 'reviewStars.js' | asset_url }}" defer="defer"></script>
{{ 'reviews.css' | asset_url | stylesheet_tag }}

{% assign reviews = product.metafields.productReviews.reviewMetaobjects.value %}

<script>
    document.addEventListener("DOMContentLoaded", function () {
      window.reviews = {{ reviews | json }};
    });
 </script>

<h2>Reviews</h2>
<div id="reviews">
  {% for review in reviews%}
    <div class="review-card">
      <div class="review-content">
        {{ review.content }}
      </div>
      <span class="vertical-divider">&nbsp;</span> 
      <div class="review-stars" id="review-{{forloop.index0}}">
        {% comment %} The stars will be rendered here using JS {% endcomment %}
      </div>
    </div>
  {% else %}
    <div class="review-card">
      <div class="review-content">
        No reviews yet
      </div>
    </div>
  {% endfor %}
</div>

{% schema %}
  {
    "name": "Reviews",
    "stylesheet": "reviews.css",
    "target": "section",
    "settings": [],
    "enabled_on": {
      "templates": ["product"]
    }
  }
{% endschema %}

